.auth-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    padding: 10px;
}

.auth-container h1{
    font-size: 36px;
    font-family: Rubik, sans-serif;
    margin: 5px 0;
}

.auth-container h2{
    margin-top: 0;
    font-size: 20px;
    font-family: Rubik, sans-serif;
    font-weight: 100;
}

.auth-submit{
    width: 100%;
    border-radius: 24px;
}

.auth-container p{
    font-family: Rubik, sans-serif;
    margin-bottom: 0;
}

.auth-container a{
    text-decoration: none;
    color: #d5ac00;
    transition: 0.3s;
    font-family: Rubik, sans-serif;
}

.auth-container a:hover{
    text-decoration: underline;
}

.auth-container .forgor{
    color: #9a9a9a;
}

.auth-container .noacc{
    font-size: 12px;
    margin-top: 5px;
    color: #9a9a9a;
}

.auth-container .yesacc{
    font-size: 12px;
    margin-top: 20px;
    color: #9a9a9a;
}

.auth-container .checkbox{
    color: #5a5a5a;
}

.auth-container label{
    font-family: Rubik, sans-serif;
}

.sty-bckgrnd{
    position: fixed;
    left: 0;
    width: 1500px;
    transform: translateX(-50%) translateY(20%);
    filter: opacity(40%);
    height: auto;
    z-index: 0;
    background-color: transparent;
    background-size: cover;
} 

@media (max-width: 6in){
    .auth-container{
        width: 85%;
    }
}
